force-app/main/default/flows/Extended_Warranty_adding_with_discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Discounted_Warranty</name>
        <label>Discounted_Warranty</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>DIscounted_product_created.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warranty_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIscounted_product_created.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIscounted_product_created.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIscounted_product_created.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DIscounted_product_created.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_discounted_warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Id_s_List</name>
        <label>Get Id&apos;s List</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Id_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_fo_Id_s.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_fo_Id_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_contain</name>
        <label>Product contain</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Product2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warranty_Id</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Extended Warranty adding with discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extended Warranty adding with discount</label>
    <loops>
        <name>Loop_fo_Id_s</name>
        <label>Loop fo Id&apos;s</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Products_Required_For_Warranty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Id_s_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_contain</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_discounted_warranty</name>
        <label>Insert discounted warranty</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>DIscounted_product_created</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Products_Required_For_Warranty</name>
        <label>Get Products Required For Warranty</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_fo_Id_s</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GenWatt Diesel 1000kW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GenWatt Diesel 10kW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GenWatt Diesel 200kW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Id</name>
        <label>Get Warranty Id</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Discounted_Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended Warranty Package</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products_Required_For_Warranty</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Discount_warranty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DIscounted_product_created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Id_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
